body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(37, 37, 37);
  color: whitesmoke;
  width: 100vw;
  height: 100vh;
}

.container {
  border: solid white;
  width: 75vw;
  margin: 20px;
  padding: 20px;
}

.container p {
  border: dotted black;
  background-color: darkslategray;
  cursor: grab;
  text-align: center;
  padding: 10px;
}

.drag {
  opacity: 50%;
  }

.redWrapper {
  background-color: maroon;
}

.blueWrapper {
  background-color: darkblue;
}